body{
    padding: 0px;
    margin: 0px;
}
*{
    background-color: #1c1e21;
    color:#fff;
}

.Navbar{
 background-color: #1c1e21;
}
.midNav{
    margin-left: 25%;
    display: flex;
    gap: 70%;
}
.head-search{
    padding: 10px 130px 10px 10px;
    border-radius: 35px;
    background-color: transparent;
    color: darkgrey;
    border-color: hsla(0, 0%, 88%, 0.39);
}
.dropdown-btn {
    display: block;
    padding: 8px 10px 8px 18px;
    text-decoration: none;
    font-size: 15px;
    color:#fff;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  
}
.navbar-brand{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
} 
.containerPro{
    display: flex;
}
.row{
    width: 33.93%;
}
.x{
    width: 33%;
    margin-left: 35px;
    margin-top: 10px;
}
.y{
    width: 33%;
}

.z{
    width: 33%;
}


.div1{
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    width: 50%;
    padding-bottom: 20px;
}

  @media(max-width:1018px){
    .midNav{
        margin-left: 0px;
        display: flex;
    }
  }